<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">
    <title>Usuarios</title>
    <link rel="stylesheet" href="/style.css">
    <script src="http://unpkg.com/lucide@latest"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (){
            lucide.createIcons();
        })
    </script>
</head>
<body>

<navbar>
    <a th:href="@{/usuario}">Usuários</a>
    <a th:href="@{usuario/new}">Novo</a>
    <a th:href="@{/usuario/info}">Informações</a>
</navbar>


    <table>
        <thead>
        <tr>
            <th>Cpf</th>
            <th>Senha</th>
            <th>Actions</th>
        </tr>
        </thead>


        <tr th:each="usuario : ${listUsuario}">
            <td th:text="${usuario.cpf}"/>
            <td th:text="${usuario.senha}"/>
            <td>
                <a th:href="@{'/usuario/' + ${usuario.id} + '/edit'}"><i data-lucide="user-round-pen"></i>Editar</a>
                <a th:href="@{'/usuario/' + ${usuario.id} + '/delete'}" onclick="if (!(confirm('Tem certeza que deseja excluir'))) return false"><i data-lucide="user-round-x" ></i>Deletar</a>
            </td>
        </tr>
    </table>
</body>
</html>