:root{
    --primary-color: #0F172A;
    --secundy-color: #d8d9da;
}
*{
    color: white;
}

body{
    background-color: var(--secundy-color);
    margin: 0;
    display: flex;
    flex-direction: column;

}
navbar{
    display: flex;
    background: linear-gradient(-90deg, var(--primary-color), black);

    a{
        text-decoration: none;
        font-size: 40px;
        margin: 8px;
    }
}
container{
    background: linear-gradient(45deg, var(--primary-color), black);
    border: solid 1px var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    align-items: center;
}